<div class="login-container">
  <img class="film" src="assets/images/beepples.png" alt="" />
  <div class="logo">Rotten Potatoes</div>
  <div class="desc">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores quas ab
    vero voluptatibus recusandae autem debitis libero nihil? Et sapiente unde
    illo sit, amet autem tempora architecto iste? Numquam, ipsam Lorem ipsum
    dolor sit, amet conLorem ipsum dolor sit, amet consectetur adipisicing elit.
    Asperiores quas ab vero voluptatibus recusandae autem debitis libero nihil?
    Et sapiente unde illo sit, amet autem tempora architecto iste? Numquam,
    ipsamsectetur adipisicing elit. Asperiores quas ab vero voluptatibus
    recusandae autem debitis libero nihil? Et sapiente unde illo sit, amet autem
    tempora architecto iste? Numquam, ipsam .
  </div>
  <div class="login-form">
    <div class="form-group">
      <label for="uname">Username</label>
      <div>
        <input type="text" name="uname" id="" />
      </div>
    </div>
    <p class="error"></p>
    <div class="form-group">
      <label for="pword">Password</label>
      <div>
      <input type="password" name="pword" id="" />
      </div>
      <div class="btn-container">
        <button class="btn btn-dark"></button>
      </div>
    </div>
  </div>
</div>
